<!DOCTYPE html>
<html>
<head>
    <script src="../bin/angular.min.js"></script>
    <script>
        var addController = function ($scope)
        {
            // Initialize the model variables
            $scope.a = 10;
            $scope.b = 5;

            // Define utility functions
            $scope.add = function ()
            {
                // Try this to understand 2way binding return $scope.a  + $scope.b;
                return parseInt($scope.a)  + parseInt($scope.b);
            };
        };


        var subController = function ($scope)
        {
            // Initialize the model variables
            $scope.a = 10;
            $scope.b = 5;

            // Define utility functions
            $scope.sub = function ()
            {
                // Try this to understand 2way binding return $scope.a  + $scope.b;
                return parseInt($scope.a)  - parseInt($scope.b);
            };
        };
    </script>
</head>

<body ng-app>
<div ng-controller="addController">
    <p>Addition</p>
    <strong>A:</strong> {{a}}<br />
    <strong>B:</strong> <span ng-bind="b"></span><br />
    <strong>Result A+B:</strong> {{add()}}<br />
    <br />
    <label>Set the A: <input type="text" ng-model="a"/></label><br />
    <label>Set the B: <input type="text" ng-model="b"/></label>
</div>
<hr>
<div ng-controller="subController">
    <p>Subtraction</p>
    <strong>A:</strong> {{a}}<br />
    <strong>B:</strong> <span ng-bind="b"></span><br />
    <strong>Result A-B:</strong> {{sub()}}<br />
    <br />
    <label>Set the A: <input type="text" ng-model="a"/></label><br />
    <label>Set the B: <input type="text" ng-model="b"/></label>
</div>
</body>
</html>